<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="scripts">
        <!-- Vendor -->
        <script th:src="@{/js/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/vendor/php-email-form/validate.js}"></script>
        <script th:src="@{/js/vendor/aos/aos.js}"></script>
        <script th:src="@{/js/vendor/glightbox/glightbox.min.js}"></script>
        <script th:src="@{/js/vendor/purecounter/purecounter_vanilla.js}"></script>
        <script th:src="@{/js/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{/js/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
        <script th:src="@{/js/vendor/swiper/swiper-bundle.min.js}"></script>

        <!-- Main -->
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/document.js}"></script>
    </div>
</body>
</html>